<!-- Availabilities -->
<section id="availabilities" class="pt-l pb-xxl" data-magellan-target="availabilities">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h3 class="title">
        <span><strong>Availablities</strong></span>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="cd-tabs">
      	<nav>
      		<ul class="cd-tabs-navigation no-bullet">
            <li><a data-content="amenities" href="#amenities" class="selected">Amenities</a></li>
            <li><a data-content="steA100" href="#steA100">Ste A-100</a></li>
      			<li><a data-content="ste100" href="#ste100">Ste 100</a></li>
      			<li><a data-content="ste110" href="#ste110">Ste 110</a></li>
      			<li><a data-content="ste150" href="#ste150">Ste 150</a></li>
            <li><a data-content="ste200" href="#ste200">Ste 200</a></li>
            <li><a data-content="ste300" href="#ste300">Ste 300</a></li>
            <li><a data-content="ste600" href="#ste600">Ste 600</a></li>
            <li><a data-content="ste700" href="#ste700">Ste 700</a></li>
      		</ul>
      	</nav>

      	<ul id="gallery-availabilities" class="cd-tabs-content no-bullet floor-plans-container gallery-available">


          <li class="selected" data-content="amenities">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns mb-s">
                <h4 class="mb-0">Amenity Level • Building Amenities*</h4>
                <p class="mb-0 mv-0">
                  Building Access Conference Room
                </p>
                <p class="mb-0 mv-0">
                  Bike Spa
                </p>
                <p class="mb-0 mv-0">
                  Showers + Restrooms
                </p>
                <p class="mb-0 mv-0">
                  Onsite Management Office
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-amenities-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-amenities@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-amenities.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


          <li class="" data-content="steA100">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4 class="mb-0">Amenity Level • Suite A-100*</h4>
                <p class="mb-0 mv-0">
                  <strong>±6,169 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-a100-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-a100@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-a100.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


      		<li class="" data-content="ste100">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4>1<sup>st</sup> Floor • Suite 100*</h4>
                <p class="mb-0">
                  <strong>±2,738 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="mb-0">
                  <a class="underline" href="{{root}}assets/download/TEMP.pdf"><span>Download the shell floor plan.</span></a>
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-100-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-100@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-100.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


      		<li class="" data-content="ste110">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4>1<sup>st</sup> Floor • Suite 110*</h4>
                <p class="mb-0">
                  <strong>±2,603 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="mb-0">
                  <a class="underline" href="{{root}}assets/download/TEMP.pdf"><span>Download the shell floor plan.</span></a>
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-110-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-110@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-110.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


      		<li class="" data-content="ste150">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4>1<sup>st</sup> Floor • Suite 150*</h4>
                <p class="mb-0">
                  <strong>±2,306 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-150-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-150@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-150.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


      		<li class="" data-content="ste200">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4>2<sup>nd</sup> Floor • Suite 200*</h4>
                <p class="mb-0">
                  <strong>±10,159 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-200-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-200@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-200.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


          <li class="" data-content="ste300">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4>3<sup>rd</sup> Floor • Suite 300*</h4>
                <p class="mb-0">
                  <strong>±9,944 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-300-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-300@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-300.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


          <li class="" data-content="ste600">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4>6<sup>th</sup> Floor • Suite 600*</h4>
                <p class="mb-0">
                  <strong>±5,209 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-600-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-600@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-600.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


          <li class="" data-content="ste700">
            <a class="button download" target="_blank" href="{{root}}assets/download/TEMP.pdf">
              <span class="lg-icon lg-download" aria-label="Download Floorplan"></span>
            </a>
            <div class="row">
              <div class="medium-12 small-12 columns">
                <h4>7<sup>th</sup> Floor • Suite 700*</h4>
                <p class="mb-0">
                  <strong>±3,258 RSF</strong> &mdash; Available Q3 2017
                </p>
                <p class="note">*Hypothetical Floor Plan</p>
              </div>
            </div>
            <div class="row">
              <div class="large-4 small-12 columns align-self-bottom small-order-2 large-order-1">
                <img src="{{root}}assets/img/floor-plans/ste-700-key@2x.jpg" class="img-responsive key" alt="" />
              </div>
              <div class="large-8 medium-12 small-12 columns small-order-1 large-order-2">
                <div class="image-hover-wrapper">
                  <a class="gallery-item" href="{{root}}assets/img/floor-plans/ste-700@2x.jpg" data-download-url="{{root}}assets/download/TEMP.pdf">
                    <img src="{{root}}assets/img/floor-plans/ste-700.jpg" class="img-responsive" alt="" />
                    <div class="icon-enlarge">
                      <span class="fa fa-search"></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
      		</li>


      	</ul> <!-- cd-tabs-content -->

      </div> <!-- cd-tabs -->
    </div>
  </div>

</section>
