<section id="features" class="pt-xl pb-l" data-magellan-target="features">
  <div class="row" data-magellan>
    <div class="large-10 medium columns">
      <h3 class="mt-0 title">
        <span>Project <strong>Features</strong></span>
      </h3>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <div class="medium-4 small-12 columns">
      <span class="cw-icons cw-location tpgrphc"></span>
      <p>Location in the heart of Uptown Oakland</p>
    </div>
    <div class="columns">
      <span class="cw-icons cw-conference tpgrphc"></span>
      <p>On-site conference center</p>
    </div>
    <div class="columns">
      <span class="cw-icons cw-tools tpgrphc"></span>
      <p>Façade, lobby, and common area renovations underway</p>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <div class="medium-4 small-12 columns">
      <span class="cw-icons cw-floor-layout tpgrphc"></span>
      <p>Full floor opportunities</p>
    </div>
    <div class="columns">
      <span class="cw-icons cw-cycling tpgrphc"></span>
      <p>Showers, lockers, and bike storage</p>
    </div>
    <div class="columns">
      <span class="cw-icons cw-building tpgrphc"></span>
      <p>Views of Downtown Oakland</p>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 small-12 columns">
      <span class="cw-icons cw-flexible tpgrphc"></span>
      <p class="mb-0">Flexible, open floor plates</p>
    </div>
  </div>
</section>
