<footer>
    <div class="row large-unstack align-middle">

      <div class="large-8 medium-6 small-12 columns">
        <p>&copy;2017 Cushman &amp; Wakefield.</p>
      </div>

      <!-- Cushman Logo -->
      <div class="large-4 medium-6 small-12 columns text-right-medium">
        <span class="logo-container">
          <a href="#">
            <!-- <img class="img-responsive brand is-partner" src="{{root}}assets/img/logos/partner-logo.png" alt="" /> -->
          </a>
          <a href="http://www.cushwake.com/" aria-label="Link to Cushman and Wakefield website">
            <object class="logos cw" type="image/svg+xml" data="{{root}}assets/img/logos/cw-logo-red.svg" role="img" aria-hidden="true">
              <img class="img-responsive brand cw" src="{{root}}assets/img/logos/cw-logo-red.png" alt="Cushman &amp; Wakefield logo" />
            </object>
          </a>
        </span>
      </div>

    </div>
</footer>
