<!-- Location -->
<section id="location" data-magellan-target="location">
  <div class="row pt-l pb-xl">
    <div class="large-12 medium-12 columns">
      <h3 class="title">
        <span><strong>Location</strong></span>
      </h3>
    </div>
  </div>

  <!-- Map -->
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-supported/v1.2.0/mapbox-gl-supported.js'></script>
  <div id='map'>
    <div id="filter-group-container">
      <nav id="filter-group" class="filter-group">
        <ul id="filter-group-list" class="no-bullet"></ul>
      </nav>
    </div>
    <button id="flyToCenter">Center Map</button>
  </div>
</section>
