<!-- Property -->
<section id="property" class="pt-xxl pb-xxxl" data-magellan-target="property">
  <div class="gallery-property" data-magellan>

    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h3 class="mt-0 title">
          <span><strong>Property</strong></span>
        </h3>
      </div>
    </div>

    <ul id="lightgallery" class="no-bullet row">
      <div class="large-6 medium-6 small-12 columns" >
        <div class="row">

          <div class="large-12 medium-12 small-12 columns">
            <p>Extensive building renovations are underway — improvements include a contemporary exterior façade and entry, re-energized lobby, and light-filled open-floor layouts.</p>
          </div>

          <div class="large-12 medium-12 small-12 columns text-right">
            <li class="item" data-src="{{root}}assets/img/_large/property-01@2x.jpg" class="mb-0" style="display: inline-block" data-download-url="false">
              <a href="" style="display: inline-block">
                <img data-interchange="[{{root}}assets/img/_small/property-01.jpg, small], [{{root}}assets/img/_medium/property-01.jpg, medium]" alt="" />
                <div class="icon-enlarge">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </li>
          </div>

        </div>
      </div>

      <div class="large-6 medium-6 small-12 columns" >
        <div class="row">

          <div class="large-12 medium-12 small-4 columns">
            <li class="item" data-src="{{root}}assets/img/_large/property-02@2x.jpg" class="large-12 medium-12 small-12 columns" data-download-url="false">
              <a href="">
                <img data-interchange="[{{root}}assets/img/_small/property-02.jpg, small], [{{root}}assets/img/_medium/property-02.jpg, medium], [{{root}}assets/img/_large/property-02.jpg, large]" alt="" />
                <div class="icon-enlarge">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </li>
          </div>

          <div class="large-12 medium-12 small-4 columns">
            <li class="item" data-src="{{root}}assets/img/_large/property-03@2x.jpg" class="large-12 medium-12 small-12 columns mb-0" data-download-url="false">
              <a href="">
                <img data-interchange="[{{root}}assets/img/_small/property-03.jpg, small], [{{root}}assets/img/_medium/property-03.jpg, medium], [{{root}}assets/img/_large/property-03.jpg, large]" alt="" />
                <div class="icon-enlarge">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </li>
          </div>
          <div class="large-3 medium-4 small-4 columns">
            <li class="item" data-src="{{root}}assets/img/_large/property-04@2x.jpg" class="large-12 medium-12 small-12 columns mb-0" data-download-url="false">
              <a href="">
                <img data-interchange="[{{root}}assets/img/_small/property-04.jpg, small], [{{root}}assets/img/_medium/property-04.jpg, medium]" alt="" />
                <div class="icon-enlarge">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </li>
          </div>
          <div class="large-3 medium-4 small-4 columns">
            <li class="item" data-src="{{root}}assets/img/_large/property-05@2x.jpg" class="large-12 medium-12 small-12 columns mb-0" data-download-url="false">
              <a href="">
                <img data-interchange="[{{root}}assets/img/_small/property-05.jpg, small], [{{root}}assets/img/_medium/property-05.jpg, medium]" alt="" />
                <div class="icon-enlarge">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </li>
          </div>
          <div class="large-3 medium-4 small-4 columns">
            <li class="item" data-src="{{root}}assets/img/_large/property-06@2x.jpg" class="large-12 medium-12 small-12 columns mb-0" data-download-url="false">
              <a href="">
                <img data-interchange="[{{root}}assets/img/_small/property-06.jpg, small], [{{root}}assets/img/_medium/property-06.jpg, medium]" alt="" />
                <div class="icon-enlarge">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </li>
          </div>
          <div class="large-3 medium-4 small-4 columns">
            <li class="item" data-src="{{root}}assets/img/_large/property-07@2x.jpg" class="large-12 medium-12 small-12 columns mb-0" data-download-url="false">
              <a href="">
                <img data-interchange="[{{root}}assets/img/_small/property-07.jpg, small], [{{root}}assets/img/_medium/property-07.jpg, medium]" alt="" />
                <div class="icon-enlarge">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </li>
          </div>


        </div>
      </div>
    </ul>

  </div>
</section>
